@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(96.22% 0.0569 95.61);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(84.08% 0.1725 84.2);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #FFBF00;
  --chart-2: #0099FF;
  --chart-3: #FF7A05;
  --chart-4: #00D696;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(28.91% 0.0359 90.09);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(77.7% 0.1593880864006951 84.38427202675717);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #E5AC00;
  --chart-2: #008AE5;
  --chart-3: #EB6D00;
  --chart-4: #00BD84;
  --chart-5: #7A83FF;
  --chart-active-dot: #fff;
}


  
@layer base {
  body {
    color: var(--foreground);
    font-weight: 500;
    background: var(--background);
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: 700;
  }
}